<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/mystyle.css')}}">
    <meta charset="utf-8">
    <h1> hello </h1>
    <title>first html</title>
  </head>
  <body>
  <!-- <img src="{{url_for('static', filename='images/1.jpg')}}" alt="sorry better luck in next time"> -->
<!-- <form class="" action="index.html" method="post"> -->

<!-- </form> -->
 <!-- Hello <?php echo $_POST["value"]; ?> --><div>
 <p>{{user_name}}</p><p>{{password}}</p></div>
</body>
</html>
